## SPDX-License-Identifier: GPL-2.0-only

if BOARD_FOXCONN_G31MX

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select CPU_INTEL_SOCKET_LGA775
	select NORTHBRIDGE_INTEL_G31
	select SOUTHBRIDGE_INTEL_I82801GX
	select SUPERIO_ITE_IT8718F
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_512
	select DRIVERS_UART_8250IO
	select FIXED_UART_FOR_CONSOLE
	select POST_IO

config MAINBOARD_DIR
	default "foxconn/g31mx"

config MAINBOARD_PART_NUMBER
	default "G31MX Series"

config POST_IO_PORT
	default 0x80

endif # BOARD_FOXCONN_G31MX
